/************** FOOTER *****************/

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $color-blueish;
    color: $white;
}
  
.copyright {
    background-color: darken($color-blueish, 10%);
}
  